@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aesthetic";
  src: '/type/Aesthetic/AestheticRegular.otf' format('opentype');
  }


  @font-face {
    font-family: 'Neue';
    src: url('/type/neuegrotesk/NeueHaasDisplay-XXThin.woff2');
    font-weight: 100; 
  }
  
  @font-face {
    font-family: 'Neue';
    src: url('/type/neuegrotesk/NeueHaasDisplay-XThin.woff2');
    font-weight: 200;
  }
  
  @font-face {
    font-family: 'Neue';
    src: url('/type/neuegrotesk/NeueHaasDisplay-Thin.woff2');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Neue';
    src: url('/type/neuegrotesk/NeueHaasDisplay-Roman.woff2');
    font-weight: 400;  
  }
  
  @font-face {
    font-family: 'Neue';
    src: url('/type/neuegrotesk/NeueHaasDisplay-Mediu.woff2');
    font-weight: 500; 
  }
  
  @font-face {
    font-family: 'Neue';
    src: url('/type/neuegrotesk/NeueHaasDisplay-Bold.woff2');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Neue';
    src: url('/type/neuegrotesk/NeueHaasDisplay-Black.woff2');
    font-weight: 900; 
  }

  @font-face {
    font-family: 'Neue';
    src: url('/type/neuegrotesk/NeueHaasDisplay-XXThinItalic.woff2');
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Neue';
    src: url('/type/neuegrotesk/NeueHaasDisplay-XThinItalic.woff2');
    font-weight: 200;
    font-style: italic; 
  }
  
  @font-face {
    font-family: 'Neue';
    src: url('/type/neuegrotesk/NeueHaasDisplay-ThinItalic.woff2');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Neue'; 
    src: url('/type/neuegrotesk/NeueHaasDisplay-LightItalic.woff2');
    font-weight: 350;
    font-style: italic;   
  }
  
  @font-face {
    font-family: 'Neue';
    src: url('/type/neuegrotesk/NeueHaasDisplay-RomanItalic.woff2');
    font-weight: 400;
    font-style: italic; 
  }
  
  @font-face {
    font-family: 'Neue';
    src: url('/type/neuegrotesk/NeueHaasDisplay-MediuItalic.woff2'); 
    font-weight: 500;
    font-style: italic;  
  }
  
  @font-face {
    font-family: 'Neue';
    src: url('/type/neuegrotesk/NeueHaasDisplay-BoldItalic.woff2');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Neue';
    src: url('/type/neuegrotesk/NeueHaasDisplay-BlackItalic.woff2');
    font-weight: 900; 
    font-style: italic; 
  }

:root {
  --primary-color: #C00E28;
  /* --text-color: #FCE1BE; */
  --text-color: #F1F1F1;
  /* --accent: #FCE1BE; */
  --accent: #cee633;
  --bg-color: #040404;

  /* font-family: 'Neue Haas Grotesk', system-ui, Inter, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: 'Neue';
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-width: none;
  -ms-overflow-style: none;

}

canvas, #scene {
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(70%);
}

#main {
  z-index: 10 !important;
}

h1 {
  /* font-size: 8rem; */
  font-family: 'Aesthetic', system-ui;
}


a {
  text-decoration: no-decoration;
}

main {
  /* pointer-events: none; */
  z-index: 1;
  width: 100%;
}

root::-webkit-scrollbar {
  display: none !important;
  
}

#hero * {
  mix-blend-mode: difference;
  touch-action: none;
  pointer-events: auto !important;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            user-drag: none;  
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

body {
  margin: 0;
  user-drag: none;  
  user-select: none;
}

#hero-title {
  
  /* font-size: 14rem; */
  line-height: 90%;
  font-family: 'Aesthetic';
  text-transform: uppercase;
  letter-spacing: -0.7rem;
 
}

#special-title {
  font-family: 'Neue';
  line-height: 80%;
  text-transform: uppercase;
  letter-spacing: -1rem;
  font-weight: 100;
  font-size: 13rem;
  letter-spacing: -0.1rem;
  font-style: italic;
}

#showcase {
  width: 150vw;
  margin-left: -25vw;
  border-radius: 100%;
}

#text-full {
  font-family: 'Aesthetic';
  font-size: 21.8rem;
  letter-spacing: -0.6rem;
  text-transform: uppercase;
}
/* 
#card {
  background-color: rgb(14,14,14,0.1);
  transition: all 0.4s ease-in;
} */

/* #card:hover {
  background-color: rgb(0,0,0,0.5);
} */


#offer {
  background-image: url('images/Dark-Souls-3.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center center;
  filter: grayscale(100%);
}

#artorias {
  position: absolute;
  filter: grayscale(100%);
  filter: brightness(25%);
  z-index: -1;
}


@media (min-width: 0px) and (max-width: 1200px) { 

 #text-full {
    font-size: 4.7rem;
    letter-spacing: 0;
  }

  #hero-title {
    font-size: 4rem;
    letter-spacing: 0;
    line-height: 100%;
  }

  #showcase {
    width: 150vw;
    margin-left: -25vw;
    border-radius: 100%;
    padding-bottom: 2rem;
} 

 }